






@media (min-width: 768px)and (max-width: 1024px){
	.col-lg-7 .img-fluid{
    margin-top: 300px;

}
#advertise .ad-design h6 {
  font-size: 20px !important;
}
footer{
	padding-top: 50px;
}
}
@media (max-width: 481px) and (max-width: 767px){
	#banner .col-lg-5 h2 {
		font-size: 50px;}
	#banner .col-lg-5 span{
		font-size: 14px;
	}
	.p-img img{ display: none;
	
	}    
	.hh{margin-top: -300px;}
	.pp{
		padding-bottom: 25px;
	}
.rrm{margin-top: -200px;}
#slider-item .owl-dots{
    margin-bottom: -30px !important;
    margin-left: 5px !important;
}
#advertise .ad-design h6 {
  font-size: 20px !important;
}
	
}

	}
	#advertise .ad-design h6 {

    font-size: 20px;
    margin-top: -9px;
	}
	.head span {    font-size: 11px;}

#from-item form button{
	    padding: 15px 18px;
} 
#from-item{ height: 100vh;}
#from-item form input{ 
    padding-right: 14px;}
    .nn1{margin-bottom: 14px;}
    .f-item i {
    font-size: 16px !important;
}
.f-item span{
    font-size: 16px !important;
    margin-left: 5px;
}
.f-icon{
	margin-right: 30px;
}
}

